.api-container {
    font-size: 16px;
    padding: 20px;
    text-align: left;
}

.api-container h3 {
    font-size: 40px;
}

.api-container h4 {
    border-bottom: 1px dashed #000;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.row.api-row {
    margin-top: 75px;
}

.row.api-row h5 {
    margin-top: 30px
}

.row.api-row ul {
    list-style-type: circle;
}

.row.api-row ul li {
    display: block;
    font-weight: 300;
    margin-left: 10px;
}

pre {
    padding: 20px;
    text-align: left;
}

pre.response {
    margin-top: 10px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group label {
    font-weight: 300;
}

.api-try-it-out {
    display: none;
}