html {
    height: 100%;
}
body {
    background: url('/assets/img/bgPanel-header.png') center bottom no-repeat;
    background-color: #263438;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    text-align: left;
}

nav ul {
    margin-left: 30px;
}

#file-transformer-container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 70px;
}

#file-transformer-container h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

#file-transformer-container .explanation {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: center;
}

#file-transformer-container form {
    margin: 0 5px;
    max-width: 440px;
}

#file-transformer-container form .step {
    display: none;
    transition: transform 0.5s;
}

#file-transformer-container form .step.step1 {
    display: block;
}

#file-transformer-container form .step.step1 .supported-files img {
    margin-right: 8px;
}

#file-transformer-container form .step.step3 {
    background-color: #FFF;
    border-radius: 3px;
    color: #333;
    font-weight: 500;
    padding: 10px 10px 16px;
}

#file-transformer-container form .step.step3 .progress {
    margin-bottom: 0;
}

#file-transformer-container form .step.step3 .progress .progress-bar {
    background-color: #222;
    border-radius: 5px;
    box-shadow: inset 0 0 3px #888;
}

#file-transformer-container form .drop-area {
    background-color: #FFF;
    border-radius: 3px;
    color: #333;
    height: 208px;
    margin-bottom: 10px;
    padding: 8px;
}

#file-transformer-container form .drop-area.drag-on {
    background-color: #00C7D1;
}

#file-transformer-container form .drop-area.drag-on .drop-area-inner {
    border-color: #009097;
    border-style: solid;
    border-width: 3px;
}

#file-transformer-container form .drop-area-inner {
    align-items: center;
    border: 2px dashed #D8D8D8;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 30px 0;
}

#file-transformer-container form .drop-area-inner span {
    line-height: 16px;
}

#file-transformer-container form .drop-area-inner span.drop-message {
    margin-top: 10px;
}

#file-transformer-container form .drop-area-inner img.fileicon {
    display: none;
}

#file-transformer-container form .drop-area-inner label {
    background-color: #222;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 10px;
    padding: 12px 20px;
    border: 1px solid #222;
    border-radius: 3px;
}

#file-transformer-container form .drop-area-inner input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

#file-transformer-container form .drop-area-inner input:focus + label,
#file-transformer-container form .drop-area-inner label:active,
#file-transformer-container form .drop-area-inner label:focus,
#file-transformer-container form .drop-area-inner label:hover {
    background-color: #FFF;
    color: #222;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#file-transformer-container form .drop-area img.spinner {
    animation: spin 1s linear infinite;
    display: none;
}

#file-transformer-container form .drop-area.file-selected {
    height: 70px;
}

#file-transformer-container form .drop-area.file-selected .drop-area-inner {
    border-style: solid;
    border-width: 1px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 5px;
}

#file-transformer-container form .drop-area.file-selected img.upload {
    display: none;
}

#file-transformer-container form .drop-area.file-selected img.fileicon {
    display: block;
}

#file-transformer-container form .drop-area.file-selected img {
    margin: 0 10px;
}

#file-transformer-container form .drop-area.file-selected span {
    display: none;
    margin: 0;
}

#file-transformer-container form .drop-area.file-selected span.filename {
    display: block;
    flex: 1;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#file-transformer-container form .drop-area.file-selected label {
    display: none;
}

#file-transformer-container form .drop-area.file-selected img.spinner {
    display: block;
}

#file-transformer-container form .drop-area.is-uploading {
    height: 40px;
}

#file-transformer-container form .drop-area.is-uploading .drop-area-inner {
    display: none;
}

#file-transformer-container form .drop-area .progress {
    display: none;
}

#file-transformer-container form .drop-area.is-uploading .progress {
    display: block;
}

#file-transformer-container form .g-recaptcha > div {
    margin: 0 auto;
}

#file-transformer-container form .button-container button {
    background-color: #263438;
    color: #FFF;
    border: 2px solid #00C7D1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 15px;
    width: 100%;
}

#file-transformer-container form .button-container button[disabled="disabled"] {
    border: 2px solid #7B9697;
    color: #CCC;
    cursor: not-allowed;
}

#file-transformer-container form .button-container button:not([disabled="disabled"]):active,
#file-transformer-container form .button-container button:not([disabled="disabled"]):focus,
#file-transformer-container form .button-container button:not([disabled="disabled"]):hover {
    background-color: #00C7D1;
    color: #222;
}

#file-transformer-container form .button-container img {
    margin-right: 5px;
}

#file-transformer-container form .button-container span {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

#file-transformer-container form .validation-error {
    border: 1px solid darkred;
    color: #333;
    padding: 10px;
}

footer {
    text-align: center;
}

img.features-icon.ocred {
    width: 61px;
}