/* Nav */

nav {
    margin-bottom: 20px;
}

/* Demo */

#demo {
    background-color: #EAECEC;
    background-image: url('/assets/img/triangle-blue.svg');
    background-position: left bottom;
    color: #262626;
    padding-left: 20px;
    padding-right: 20px;
}

#demo h2 {
    color: #121519;
    font-weight: 300;
    font-size: 30px;
    margin-top: 25px;
}

@media (min-width: 768px) {
    #demo h2 {
        margin-top: 50px;
    }
}

#demo-form {
    margin: 0 auto;
    max-width: 500px;
    text-align: left;
}
