html {
    height: 100%;
}

body {
    background-color: #263438;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    text-align: left;
}

#topcontainer {
	background: url('/assets/img/background_7000.png') center bottom no-repeat;
	background-size: 500%;
}

#top h1 {
    margin-top: 25px;
}

#top h1 span {
	position: relative;
	top: 3px;
}

nav ul {
    margin-left: 30px;
}

#countdown-container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 20px 0px;
}

#countdown-container #countdown {
    background-color: #0F2F35;
    margin-bottom: 30px;
    margin-top: -100px;
    padding: 20px 0;
    text-align: center;
    width: 300px;
}

#countdown-container #countdown .countdown-row {
    display: inline-block;
    width: 280px;
}

#countdown-container #countdown .countdown-number {
    font-size: 30px;
    font-weight: bold;
}

#countdown-container #countdown .countdown-unit {
    position: relative;
    top: -5px;
}

@media (max-width: 1100px) {
    #countdown-container #countdown {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

footer {
    text-align: center;
}

.table_header {
    background-color: transparent;
    color: #fff;
}

.table_white {
    background-color: #FFF;
    color: #000;
}

.table_grey {
    background-color: #EEE;
    color: #000;
    font-weight: bold;
}

.table_left_side_radius {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table_right_side_radius {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table_body>tr.table_row {
    height: 50px;
}

.table_footer {
    display: flex;
}

.position {
    background-color: transparent;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 4px;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.chart-holder {
    width: 100%;
}

.highcharts-caption {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background-color: #00C7D1;
    padding: 12px;
}

.text_overall {
    font-size: 18px;
    font-weight: bold;
}

#leaderboard,
#regional {
	padding-left: 15px;
	padding-right: 15px;
}

table {
	border-collapse: separate;
	border-spacing: 0px 10px;
}

table tbody td {
	padding-bottom: 15px;
	padding-top: 15px;
}

table .logo .logo_container {
	display: inline-block;
	background-color: #FFF;
	width: 60px;
	height: 60px;
	border: 1px solid #DFDFDF;
}

table .logo .logo_container img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}


table .details .details_name {
	font-weight: 500;
	margin-bottom: 5px;
}

table .details_small {
	margin-top: 15px;
}

table .details_small .details_small_fixes {
	margin-bottom: 5px;
}

a.table_show_full, a.table_show_full:visited, a.table_show_full:hover, a.table_show_full:active {
    color: #00C7D1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-decoration-line: underline;
    margin-left: 60px;
}

.pos-badge {
    background: url(/assets/img/leaderboard/badge.svg) no-repeat center center;
    background-size: 43px 33px;
}

.pos-badge span {
	position: relative;
	top: -7px;
	left: 1px;
}

#regional {
	padding-bottom: 50px;
}

#regional h3 {
	font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
}

#regional table {
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;
}

.cards-title {
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    margin-top: 30px;
    margin-bottom: 0;
}

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
    max-width: 530px;
}

.card-container {
    display: grid;
    grid-template-rows: auto auto;
    font-style: normal;
    font-size: 14px;
    line-height: 33px;
}

.card-item {
    background-color: #FFF;
    color: #000;
    text-align: center;
}

.card-content-container {
    display: grid;
    grid-template-columns: 80px auto 160px;
    border-radius: 5px;
    border: 1px #FFF solid;
}

.card-content-item, .card-content-item-grey {
    background-color:#FFF;
    color: #000;
    text-align: center;
    height: 124px;
}

.card-content-item-grey {
    background-color: #EEE;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    padding-bottom: 12px;
}

.card-content-item-details {
    display: grid;
    grid-template-rows: auto auto auto;
}

.card-details-item-name {
    font-weight: bold;
}

.card-details-stats {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
}

.card-content-details {
    text-align: left;
}