html {
    height: 100%;
}
body {
    background: url('/assets/img/bgPanel-header.png') center bottom no-repeat;
    background-color: #263438;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    text-align: left;
}

nav ul {
    margin-left: 30px;
}

#gaad-container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 40px 20px 50px;
}

#gaad-container h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

#gaad-container .explanation {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 440px;
    text-align: center;
}

#gaad-container .explanation .hashtag {
	color: #00C7D1;
	display: block;
	margin-bottom: 20px;
	margin-top: 5px;
}

#gaad-container .explanation .btn-secondary {
	background-color: #00C7D1;
	padding: 10px 30px;
}

#gaad-container #countdown {
	background-color: #0F2F35;
	margin-bottom: 50px;
	margin-top: -110px; 
	padding: 30px 0;
	text-align: center; 
	width: 440px;
}

#gaad-container #countdown .countdown-row {
	display: inline-block;
	width: 350px; 
}

#gaad-container #countdown .countdown-number {
	font-size: 30px;
	font-weight: bold;
}

#gaad-container #countdown .countdown-unit {
	position: relative;
	top: -5px;
}

.triangle-green section,
.triangle-blue section {
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 650px;	
}

.triangle-green section h3,
.triangle-blue section h3 {
	font-size: 35px;
}

.triangle-blue section p,
.triangle-green section p {
	font-size: 18px;
}

.triangle-green a:not(.btn-secondary) {
	color: #00838A;
}

.triangle-blue a {
	color: #00C7D1;
}

.triangle-blue {
	background: url(/assets/img/bgPanel-header.png) center bottom no-repeat;
    background-color: #263438;
}

.triangle-blue h3,
.triangle-blue p,
.triangle-blue a.btn-secondary {
	color: #FFF;
}

@media (max-width: 768px) {
	.features .row:last-of-type {
		margin-top: auto;
	}
}

@media (max-width: 1100px) {
	nav {
		text-align: center;
	}
	
	#gaad-container #countdown {
		margin-top: 0px;
		margin-bottom: 40px;
	}
}

footer {
    text-align: center;
}

img.features-icon.ocred {
    width: 61px;
}

.table {
    display: flex;
    flex-flow: column;
    max-width: 100%;
}

.table_row {
    display: flex;
    height: 70px;
    max-width: 100%;
    margin-bottom: 5px;
}

.table_column {
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}

.table_header {
    background-color: transparent;
    color: #fff;
}

.table_white {
    background-color: #FFF;
    color: #000;
}

.table_grey {
    background-color: #DEDEDE;
}

.table_left_side_radius {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table_right_side_radius {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table_body > tr.table_row {
    height: 50px;
}

.table_footer {
    display: flex;
}

.details {
    display: flex;
    flex-flow: column;
}

.details_child {
    display: flex;
}

.position {
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.chart-holder {
    width: 80%;
}

.highcharts-caption {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background-color: #00C7D1;
    padding: 12px;
}